<template>
  <div class="custom-button__container">
    <button @click="$emit('custom-click')" class="custom-button">
      <slot></slot>
    </button>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({});
</script>

<style lang="scss" scoped>
@import "../common.scss";
.custom-button__container {
  @include centered;
  width: 100%;
}
.custom-button {
  flex-grow: 1;
  background-color: $primary-dark-color;
  color: $primary-light-color;
  font-size: large;
  padding: 0.5em;
  @include curved;
}
.custom-button:hover {
  background-color: $primary-light-color;
  color: $primary-dark-color;
}
</style>