<template>
  <div class="home">
    <div class="home__header">Login Workflow Home</div>
    <div class="home__user-detail">
      <div class="home__handle">{{ currentUser.handle }}</div>
      <div class="home__name">name: {{ currentUser.firstName }} {{ currentUser.lastName }}</div>
      <div class="home__email">email: {{ currentUser.email }}</div>
      <div class="home__join-date-time">joined: {{ joinDateTime }}</div>
    </div>
    <custom-button class="home__logout" @custom-click="logout">Log Out</custom-button>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import CustomButton from "./CustomButton.vue";
import store from "../store";
import { LoginWorkflowUser } from "../types";
import { logout } from "../data-service";
export default Vue.extend({
  components: {
    "custom-button": CustomButton
  },
  computed: {
    currentUser(): LoginWorkflowUser | undefined {
      return store.state.currentUser;
    },
    joinDateTime(): string {
      if (this.currentUser === undefined) {
        return "";
      } else {
        return new Date(this.currentUser.joinEpochSeconds * 1000)
          .toString()
          .split(" ")
          .slice(1, 5)
          .join(" ");
      }
    }
  },
  methods: {
    async logout() {
      store.commit("forgetToken");
      await logout();
      this.$router.push("/login");
    }
  }
});
</script>

<style lang="scss" scoped>
@import "../common.scss";
.home {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.home > * {
  margin-bottom: 1em;
}
.home > :last-child {
  margin-bottom: 0;
}
.home__header {
  font-size: x-large;
  padding: 0.5em;
  background-color: $dark-bg-color;
  @include curved;
  @include primary-dark-border(bottom);
  @include primary-dark-border(right);
  @include primary-light-border(top);
  @include primary-light-border(left);
}
.home__user-detail {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $dark-bg-color;
  @include curved;
  @include primary-dark-border(bottom);
  @include primary-dark-border(right);
  @include primary-light-border(top);
  @include primary-light-border(left);
}
.home__user-detail > * {
  margin-top: 1em;
}
.home__user-detail > :first-child {
  margin-top: 0;
}
.home__handle {
  align-self: center;
  font-size: x-large;
  padding: 0.5em;
  @include curved;
  @include primary-dark-border(bottom);
  @include primary-dark-border(right);
}
.home__logout {
  width: 10em;
}
</style>