<template>
  <div class="login__container">
    <div class="login">
      <div class="login__header">Log In</div>
      <label class="login__identifier">
        email or handle:
        <input
          class="login__identifier-input"
          type="text"
          v-model="identifier"
          @keyup.enter="login"
        />
      </label>
      <span class="login__below-identifier-err">{{ belowIdentifierErr }}</span>
      <label class="login__password">
        password:
        <input
          class="login__password-input"
          type="password"
          v-model="password"
          @keyup.enter="login"
        />
      </label>
      <span class="login__below-password-err">{{ belowPasswordErr }}</span>
      <custom-button class="login__button" @custom-click="login">Log In</custom-button>
      <span class="login__below-button-err">{{ belowButtonErr }}</span>
      <router-link
        class="login__register-link"
        to="/register"
      >register {{ linkSymbol | unicode2html }}</router-link>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import CustomButton from "./CustomButton.vue";
import { login as dataServiceLogin } from "../data-service";
import store from "../store";
import { LINK_SYMBOL } from "../symbols";
export default Vue.extend({
  components: {
    "custom-button": CustomButton
  },
  data() {
    return {
      identifier: "",
      password: "",
      belowIdentifierErr: "",
      belowPasswordErr: "",
      belowButtonErr: "",
      linkSymbol: LINK_SYMBOL
    };
  },
  methods: {
    async login() {
      this.belowIdentifierErr = "";
      this.belowPasswordErr = "";
      this.belowButtonErr = "";
      if (this.identifier.length === 0) {
        this.belowIdentifierErr = "email or handle required";
      } else if (this.password.length === 0) {
        this.belowPasswordErr = "password required";
      } else {
        await store.dispatch("login", {
          identifier: this.identifier,
          password: this.password
        });
        if (store.getters.hasToken) {
          this.$router.push("/home");
        } else {
          this.belowButtonErr = "invalid credentials";
        }
      }
    }
  }
});
</script>

<style scoped lang="scss">
@import "../common.scss";
.login__container {
  width: 100%;
  margin-top: 10em;
  @include centered;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  background-color: $dark-bg-color;
  @include curved;
  @include primary-light-border(top);
  @include primary-light-border(left);
  @include primary-dark-border(bottom);
  @include primary-dark-border(right);
}
.login > * {
  margin-bottom: 0.5em;
}
.login > :last-child {
  margin-bottom: 0;
}
.login__header {
  align-self: center;
  font-size: x-large;
  padding: 0.5em;
  margin-bottom: 0.5em;
  @include curved;
  @include primary-light-border(top);
  @include primary-dark-border(bottom);
}
.login__identifier,
.login__password {
  align-self: flex-end;
}
.login__identifier-input,
.login__password-input {
  @include curved;
  outline: none;
  padding: 0.5em;
  align-self: flex-end;
}
.login__below-identifier-err,
.login__below-password-err,
.login__below-button-err {
  height: 1em;
  color: $error-text-color;
}
.login__register-link {
  color: $primary-dark-color;
  text-decoration: none;
  font-size: large;
}
.login__register-link:hover {
  color: $primary-light-color;
  text-decoration: underline;
}
</style>