<template>
  <div class="not-found">
    <p class="not-found__msg">Page not found: {{ routePath }}</p>
    <router-link class="not-found__link" to="/">Log In or Register</router-link>
  </div>
</template>

<script>
import Vue from "vue";
export default Vue.extend({
  data() {
    return {
      routePath: ""
    };
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.routePath = to.fullPath;
    });
  }
});
</script>

<style scoped>
.not-found {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
</style>