<template>
  <div class="register-creds">
    <label class="register-creds__handle">
      handle:
      <input
        class="register-creds__handle-input"
        type="text"
        v-model="handle"
        @keyup.enter="next"
      />
    </label>
    <label class="register-creds__password">
      password:
      <input
        class="register-creds__password-input"
        type="password"
        v-model="password"
        @keyup.enter="next"
      />
    </label>
    <label class="register-creds__retype-password">
      retype password:
      <input
        class="register-creds__retype-password-input"
        type="password"
        v-model="retypedPassword"
        @keyup.enter="next"
      />
    </label>
    <div class="register-creds__buttons">
      <custom-button
        class="register-creds__previous"
        @custom-click="previous"
      >{{ previousSymbol | unicode2html }} previous</custom-button>
      <custom-button
        class="register-creds__next"
        @custom-click="next"
      >next {{ nextSymbol | unicode2html }}</custom-button>
    </div>
    <div class="register-creds__error" v-for="(error, index) in errors" :key="index">{{ error }}</div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import CustomButton from "./CustomButton.vue";
import { Registration } from "../data-service";
import { NEXT_SYMBOL, PREVIOUS_SYMBOL } from "../symbols";
export default Vue.extend({
  components: {
    "custom-button": CustomButton
  },
  props: {
    registration: Object as () => Registration
  },
  data() {
    return {
      handle: this.registration.handle,
      password: this.registration.password,
      retypedPassword: this.registration.password,
      errors: [] as string[],
      nextSymbol: NEXT_SYMBOL,
      previousSymbol: PREVIOUS_SYMBOL
    };
  },
  methods: {
    previous() {
      this.$router.push("/register/input/name");
    },
    next() {
      this.errors.splice(0);
      if (this.password === this.retypedPassword) {
        this.registration.handle = this.handle;
        this.registration.password = this.password;
        this.$router.push("/register/input/email");
      } else {
        this.errors.push("password does not match retyped password");
      }
    }
  }
});
</script>

<style lang="scss" scoped>
@import "../common.scss";
.register-creds {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  @include curved;
  background-color: $dark-bg-color;
}
.register-creds > * {
  margin-bottom: 1em;
}
.register-creds > :last-child {
  margin-bottom: 0;
}
.register-creds__handle,
.register-creds__password,
.register-creds__retype-password {
  align-self: flex-end;
}
.register-creds__handle-input,
.register-creds__password-input,
.register-creds__retype-password-input {
  padding: 0.5em;
  outline: none;
  @include curved;
}
.register-creds__buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.register-creds__error {
  color: $error-text-color;
}
</style>