<template>
  <div class="register-name">
    <label class="register-name__first">
      first name:
      <input
        class="register-name__first-input"
        v-model="registration.firstName"
        @keyup.enter="next"
      />
    </label>
    <label class="register-name__last">
      last name:
      <input
        class="register-name__last-input"
        v-model="registration.lastName"
        @keyup.enter="next"
      />
    </label>
    <custom-button
      class="register-name__next"
      @custom-click="next"
    >next {{ nextSymbol | unicode2html }}</custom-button>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import CustomButton from "./CustomButton.vue";
import { Registration } from "../data-service";
import { NEXT_SYMBOL } from "../symbols";
export default Vue.extend({
  components: {
    "custom-button": CustomButton
  },
  props: {
    registration: Object as () => Registration
  },
  data() {
    return {
      nextSymbol: NEXT_SYMBOL
    };
  },
  methods: {
    next() {
      this.$router.push("/register/input/credentials");
    }
  }
});
</script>

<style lang="scss" scoped>
@import "../common.scss";
.register-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  @include curved;
  background-color: $dark-bg-color;
}
.register-name > * {
  margin-bottom: 1em;
}
.register-name > :last-child {
  margin-bottom: 0;
}
.register-name__first,
.register-name__last {
  align-self: flex-end;
}
.register-name__first-input,
.register-name__last-input {
  padding: 0.5em;
  outline: none;
  @include curved;
}
</style>