<template>
  <div class="register-email">
    <label class="register-email__email">
      email:
      <input
        class="register-email__email-input"
        v-model="registration.email"
        @keyup.enter="send"
      />
    </label>
    <div class="register-email__buttons">
      <custom-button
        class="register-email__previous"
        @custom-click="previous"
      >{{ previousSymbol | unicode2html }} previous</custom-button>
      <custom-button
        class="register-email__send"
        @custom-click="send"
      >send verification {{ emailSymbol | unicode2html }}</custom-button>
    </div>
    <div
      class="register-email__input-error"
      v-for="(error, index) in errors"
      :key="index"
    >{{ error }}</div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import CustomButton from "./CustomButton.vue";
import { Registration } from "../data-service";
import { PREVIOUS_SYMBOL, EMAIL_SYMBOL } from "../symbols";
export default Vue.extend({
  components: {
    "custom-button": CustomButton
  },
  props: {
    registration: Object as () => Registration,
    errorsProp: Array as () => string[]
  },
  data() {
    return {
      errors: this.errorsProp,
      previousSymbol: PREVIOUS_SYMBOL,
      emailSymbol: EMAIL_SYMBOL
    };
  },
  watch: {
    errorsProp(updated) {
      this.errors = updated;
    }
  },
  methods: {
    previous() {
      this.$router.push("/register/input/credentials");
    },
    send() {
      this.$emit("register");
    }
  }
});
</script>

<style scoped lang="scss">
@import "../common.scss";
.register-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  @include curved;
  background-color: $dark-bg-color;
}
.register-email > * {
  margin-bottom: 1em;
}
.register-email > :last-child {
  margin-bottom: 0;
}
.register-email__email {
  align-self: flex-end;
}
.register-email__email-input {
  padding: 0.5em;
  outline: none;
  @include curved;
}
.register-email__buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.register-email__input-error {
  color: $error-text-color;
}
</style>