<template>
  <div class="register-verify__container">
    <div class="register-verify__header">Verify Registration</div>
    <div class="register-verify">
      <div class="register-verify__description">verification code sent to {{ email }}</div>
      <label class="register-verify__code">
        verification code:
        <input
          class="register-verify__code-input"
          v-model="verificationCode"
          @keyup.enter="verify"
        />
      </label>
      <custom-button class="register-verify__button" @custom-click="verify">verify</custom-button>
      <div class="register-verify__error" v-for="(error, index) in errors" :key="index">{{ error }}</div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import CustomButton from "./CustomButton.vue";
import { verify } from "../data-service";
import { is2xx } from "../utils";
import { AxiosResponse } from "axios";
export default Vue.extend({
  components: {
    "custom-button": CustomButton
  },
  props: {
    email: String
  },
  data() {
    return {
      verificationCode: "",
      errors: [] as string[]
    };
  },
  methods: {
    async verify() {
      this.errors.splice(0);
      if (this.verificationCode.length === 0) {
        this.errors.push("verification code required");
      } else {
        const res = await verify(this.email, this.verificationCode);
        if (is2xx(res)) {
          this.$router.push("/register/success");
        } else if (res.status === 401) {
          this.errors.push("wrong verification code");
        } else {
          console.error(
            "unexpected response status for registration verification: " +
              status
          );
        }
      }
    }
  }
});
</script>

<style lang="scss" scoped>
@import "../common.scss";
.register-verify__container {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.register-verify__header {
  width: 100%;
  font-size: x-large;
  padding: 0.5em;
  @include centered;
}
.register-verify {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  @include curved;
  background-color: $dark-bg-color;
}
.register-verify > * {
  margin-bottom: 1em;
}
.register-verify > :last-child {
  margin-bottom: 0;
}
.register-verify__code-input {
  padding: 0.5em;
  outline: none;
  @include curved;
}
.register-verify__error {
  color: $error-text-color;
}
</style>