<template>
  <div class="register-input__container">
    <div class="register-input__header">Registration Input</div>
    <div class="register-input__nav">
      <router-link to="/register/input/name">Name</router-link>
      <router-link to="/register/input/credentials">Credentials</router-link>
      <router-link to="/register/input/email">Email</router-link>
    </div>
    <div class="register-input">
      <router-view @register="register" :registration="registration" :errorsProp="errors"></router-view>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { register, Registration, verify } from "../data-service";
import { AxiosResponse } from "axios";
const emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
export default Vue.extend({
  data() {
    return {
      errors: [] as string[],
      registration: {
        firstName: "",
        lastName: "",
        handle: "",
        password: "",
        email: ""
      } as Registration
    };
  },
  methods: {
    async register() {
      this.errors.splice(0);
      if (this.registration.email.length === 0) {
        this.errors.push("email is required");
      } else if (!this.registration.email.match(emailRegex)) {
        this.errors.push("invalid email");
      }
      if (this.registration.firstName.length === 0) {
        this.errors.push("first name is required");
      }
      if (this.registration.lastName.length === 0) {
        this.errors.push("last name is required");
      }
      if (this.registration.handle.length === 0) {
        this.errors.push("handle is required");
      }
      if (this.registration.password.length === 0) {
        this.errors.push("password is required");
      }
      if (this.errors.length === 0) {
        const response = await register(this.registration);
        if (response.status === 409) {
          const reasonPhrase = response.data;
          if (typeof reasonPhrase === "string") {
            if (reasonPhrase.search(/email/) !== -1) {
              this.errors.push(
                "email associated with existing user or registration"
              );
            } else if (reasonPhrase.search(/handle/) !== -1) {
              this.errors.push(
                "handle associated with existing user or registration"
              );
            } else {
              this.errors.push("conflict");
            }
          }
        } else {
          this.$router.push(`/register/verify/${this.registration.email}`);
        }
      }
    }
  }
});
</script>

<style lang="scss" scoped>
@import "../common.scss";
.register-input__container {
  width: 100%;
  padding: 1em;
}
.register-input__header {
  width: 100%;
  padding: 0.5em;
  font-size: x-large;
  @include centered;
}
.register-input__nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: $primary-dark-color;
  @include curved;
}
.register-input__nav > * {
  padding: 0.5em;
  font-size: large;
  background-color: transparent;
  color: $primary-light-color;
  text-decoration: none;
  @include curved;
}
.register-input__nav > *:hover,
.router-link-active {
  background-color: $primary-light-color;
  color: $primary-dark-color;
  text-decoration: underline;
}
.register-input {
  width: 100%;
  margin-top: 5em;
  @include centered;
}
.register-input > * {
  width: 30em;
}
</style>