<template>
  <div class="register-success__container">
    <p class="register-success__header">Registration Success</p>
    <router-link
      class="register-success__login-link"
      to="/login"
    >Log In {{ linkSymbol | unicode2html }}</router-link>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { LINK_SYMBOL } from "../symbols";
export default Vue.extend({
  data() {
    return {
      linkSymbol: LINK_SYMBOL
    };
  }
});
</script>

<style lang="scss" scoped>
@import "../common.scss";
.register-success__container {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.register-success__header {
  width: 100%;
  font-size: x-large;
  padding: 0.5em;
  @include centered;
}
.register-success__login-link {
  color: $primary-dark-color;
  text-decoration: none;
  font-size: large;
}
.register-success__login-link:hover {
  color: $primary-light-color;
  text-decoration: underline;
}
</style>