$primary-dark-color: indigo;
$primary-light-color: springgreen;
$dark-bg-color: gray;
$light-bg-color: lightgray;
$error-text-color: maroon;

@mixin primary-dark-border($side: all) {
  @if $side == all {
    border: solid medium $primary-dark-color;
  } @else {
    border-#{$side}: solid medium $primary-dark-color;
  }
}

@mixin primary-light-border($side: all) {
  @if $side == all {
    border: solid medium $primary-light-color;
  } @else {
    border-#{$side}: solid medium $primary-light-color;
  }
}

@mixin curved {
  border-radius: 0.5em;
}

@mixin centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
